node_modules/*
!.env.template
userDataDir/*
userData/*
src/userData
msg_room_sample.json
msg_room_sample_convo.json
dump
userDataSimone
userDataMax
dist/
._*
sessions/






branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
